<!DOCTYPE html>
<html>
<head>
  <title>GitHub Webhook Events</title>
  <link rel="stylesheets" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Recent GitHub Events</h1>
  <ul id="eventList"></ul>

  <script>
    async function fetchEvents() {
      const res = await fetch("/events");
      const data = await res.json();
      const list = document.getElementById("eventList");
      list.innerHTML = "";
      data.reverse().forEach(event => {
        let msg = "";
        const { author, action, from_branch, to_branch, timestamp } = event;
        if (action === "PUSH") {
          msg = `${author} pushed to ${to_branch} on ${timestamp}`;
        } else if (action === "PULL_REQUEST") {
          msg = `${author} submitted a pull request from ${from_branch} to ${to_branch} on ${timestamp}`;
        } else if (action === "MERGE") {
          msg = `${author} merged branch ${from_branch} to ${to_branch} on ${timestamp}`;
        }
        const li = document.createElement("li");
        li.innerText = msg;
        list.appendChild(li);
      });
    }

    fetchEvents();
    setInterval(fetchEvents, 15000);
  </script>
</body>
</html>
